<mat-card [ngClass]="{'bloqueado': !contacto.estado}" style="display: flex;">
  <div class="mitad">
    <img class="imagen" src="{{contacto.imagen}}" alt="">
  </div>
  <div class="mitad">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <h1>{{contacto.nombre}} {{contacto.apellido}}</h1>
      </mat-list-item>
      <mat-list-item role="listitem">{{contacto.telefono}} - {{contacto.correo}}</mat-list-item>
      <mat-list-item role="listitem">{{contacto.direccion}}</mat-list-item>
      <mat-list-item role="listitem">
        <button routerLink="/editar-contacto/{{contacto.id}}" mat-raised-button color="primary">Editar</button>
        <button (click)="cambioEstado(contacto)" *ngIf="!contacto.estado" style="margin: 0 10px;" mat-raised-button
          color="accent">Es amigo</button>
        <button (click)="cambioEstado(contacto)" *ngIf="contacto.estado" style="margin: 0 10px;" mat-raised-button
          color="warn">Es conocido</button>
        <button (click)="openDialog(contacto)" mat-raised-button color="warn">Eliminar</button>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
<br>