/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding {
  padding: 20px;
}

.centrado {
  text-align: center;
}

.derecha {
  text-align: right;
}

.izquierda {
  text-align: left;
}

.mitad {
  padding: 0 1%;
  width: 48%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.completo {
  padding: 0 1%;
  width: 98%;
}

.btn-crear {
  margin: 10px 5px !important;
}

.imagen {
  max-width: 100%;
  max-height: 140px;
}

.bloqueado {
  background-color: #a1a1a1;
  /* pointer-events: none; */
}

.titulo {
  font-weight: bold;
}

.btn-t {
  width: 100%;
}

.icono {
  margin-right: 5px;
  display: block;
}

.mostrar {
  display: none;
}

.contenedor {
  padding: 40px;
}

@media only screen and (max-width: 1000px) {
  .mitad {
    width: 100%;
  }
  .w-25 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
  .borrar {
    display: none;
    background-color: red;
  }
  .mostrar {
    display: block;
    padding: 5px 0 0 0;
    line-height: 24px;
  }

  .contenedor {
    padding: 15px;
  }
}